.Logo {
    height: 80px;
    margin-right: auto;
    padding: 10px 50px;
  }
  
  
  .Header {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  ul{
    list-style: none;
  }
  
  li{
    display: inline-block;
    padding-right: 50px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }